package ${package.DTO};

#foreach($pkg in ${table.importPackages})
    #if(!${pkg.contains("baomidou.mybatisplus")})
import ${pkg};
    #end
#end
#if(${swagger2})
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
#end
#if(${entityLombokModel})
import lombok.Data;
import lombok.experimental.Accessors;
#end
import javax.validation.constraints.*;
import com.ctsec.dzsw.core.dto.ValidGroup;
/**
 *
 * $!{table.comment}DTO
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})
@Data
@Accessors(chain = true)
#end
#if(${swagger2})
@ApiModel(value="${entity}DTO", description="$!{table.comment}")
#end
public class ${entity}DTO implements Serializable {

    private static final long serialVersionUID = 1L;
## ----------  BEGIN 字段循环遍历  ----------
#foreach($field in ${table.fields})

#if(${field.keyFlag})
#set($keyPropertyName=${field.propertyName})
#end
#if("$!field.comment" != "")
    /**
     * ${field.comment}
     */
    #if(${swagger2})
    @ApiModelProperty(value = "${field.comment} ${field.type}" , example="$!{field.example}")
    #end
#end
## 参数校验 是否为空校验
#if(!${field.nullFlag})
    #if(${field.keyFlag})
    @Null(message = "${field.comment}必须为空", groups = {ValidGroup.Save.class})
    @NotNull(message = "${field.comment}不能为空", groups = {ValidGroup.Update.class})
    #else
        #if(${field.propertyType}=="String")
    @NotBlank(message = "${field.comment}不能为空")
        #else
    @NotNull(message = "${field.comment}不能为空")
        #end
    #end
#end
##参数校验 长度校验 $!{field.maxLength} $!{field.fraction}
#if("$!{field.maxLength}" != "")
    #if(${field.numberFlag})
        #if("$!{field.fraction}" != "0")
    @Digits(integer = ${field.maxLength} , fraction = ${field.fraction} , message = "${field.comment}整数长度不能超过${field.maxLength}位,小数长度不能超过$!{field.fraction}位")
        #else
    @Digits(integer = ${field.maxLength} , fraction = 0 , message = "${field.comment}只能为整数且长度不能超过${field.maxLength}位")
        #end
    #else
    @Size(max = ${field.maxLength} , message = "${field.comment}长度不能超过${field.maxLength}位")
    #end
#end
    private ${field.propertyType} ${field.propertyName};
#end
## ----------  END 字段循环遍历  ----------
}
